[2018-07-25 13:59] ShahriarJavidi opened #2 "make problem"
Hi All,
When I was trying to run "make -j $(($(getconf _NPROCESSORS_ONLN) - 1))", I faced the following error:
`/mnt/SG/shahriar/metagraph/external-libraries/eigen/Eigen/src/Core/ArithmeticSequence.h:207:113: error: ‘fix’ was not declared in this scope`

How can I solve it?
Thanks.

[2018-07-28 10:21] ShahriarJavidi opened #3 "cmake problem"
Hi All,

I am using cmake 3.7.0 and I tried to run `cmake ..`, but I faced this problem:
`clang: error: unknown argument: '-fabi-version=0'
clang: error: unknown argument: '-fabi-version=0'`
.
.
.
`CMakeFiles/Makefile2:104: recipe for target 'CMakeFiles/KMCcore.dir/all' failed
make[1]: *** [CMakeFiles/KMCcore.dir/all] Error 2
Makefile:83: recipe for target 'all' failed
make: *** [all] Error 2
CMak

[2018-07-28 13:02] #2 closed, assigned to nobody

[2018-08-02 11:50] ShahriarJavidi opened #4 "unit_test doesn't run"
Hello guys,

After running cmake in debug mode (i.e. cmake .. --DCMAKE_BUILD_TYPE=Debug), I faced this output:
`./metagengraph: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `GLIBCXX_3.4.22' not found (required by ./metagengraph)
./metagengraph: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `GLIBCXX_3.4.21' not found (required by ./metagengraph)
./metagengraph: /usr/lib/x86_64-linux-gnu/li

[2018-08-02 15:10] #3 closed, assigned to nobody

[2018-08-30 14:40] #4 closed, assigned to nobody

[2019-06-28 08:34] karasikov opened #34 "call_unitigs in succinct subgraph"
In MaskedDeBruijnGraph, `call_unitigs` uses a not efficient implementation from sequence_graph.cpp but not the good one implemented in BOSS.

As a result, the unitig extraction is slower and incorrect: (unitigs extracted from masked graph contain dummy symbols `$` while this never happens for DBGSuccinct).

some results from a benchmark:
extract unitigs from full graph: 0:49.88
extract unitigs fro

[2019-06-30 14:24] karasikov opened #36 "call_unitigs prunes different tips for DBGSuccinct and other representations"
Revise implementations of `call_unitigs` and fix the bug

First check `BOSS::call_unitigs`

[2019-07-11 12:03] #36 closed, assigned to hmusta

[2019-07-29 01:17] hmusta opened #39 "Inconsistent behaviour on empty annotators"
The unit tests `AnnotatorStaticTest/*.NumLabelsOneEmptyRow` currently check for the number of rows to be 0 when converting from an empty `ColumnCompressed` annotator with 5 rows, whereas the `RowFlatAnnotator` reports correctly that there are 5 rows after conversion.

See [here](https://github.com/ratschlab/projects2014-metagenome/blob/master/metagraph/tests/annotation/test_annotation.cpp#L252)

T

[2019-08-18 21:25] #39 closed, assigned to chrisbarber

[2019-08-21 12:23] hmusta opened #44 "Add row caching to MultiLabelAnnotation"
Currently it's only implemented for StaticBinRelAnnotator.

[2019-08-21 12:25] hmusta opened #45 "Parallel unitig extraction"
The current implementation is single-threaded.

[2019-08-21 12:26] hmusta opened #46 "Implement/incorporate a better tracking system for consistent STATUS/WARNING/ERROR messages"
This makes it easier to have useable output when computation output is redirected to a file.

[2019-08-21 12:26] hmusta opened #47 "Export graphs to .gfa format"

[2019-08-21 12:26] hmusta opened #48 "Output alignments in .gam and/or .json format"

[2019-08-21 13:11] hmusta opened #49 "Store edge queue in external memory in call_paths"
Started in 45a9c28

[2019-08-21 13:17] hmusta opened #50 "Store alphabet with graphs to allow for switching alphabets without recompilation"

[2019-08-21 13:20] hmusta opened #51 "Keep only a subset of columns when loading an annotator"

[2019-08-21 13:22] hmusta opened #52 "Better parallelization for ColumnCompressed"
Updating ColumnCompressed locks the entire annotator, even when two different columns are being cached

[2019-08-23 15:05] #48 closed, assigned to hmusta

[2019-09-01 19:21] karasikov opened #56 "add exhaustive unit tests for graphs"
compare all member functions between DBGHash and every other graph representations for different inputs.
`outdegree`,
`indegree`,
`traverse`,
`call_unitigs`,
etc.

[2019-09-16 15:43] #34 closed, assigned to hmusta

[2019-09-17 14:39] karasikov opened #61 "sdsl: int_vector_buffer overwrites header even if file is open for reading only"
`sdsl::int_vector_buffer<>::close()` overwrites headers even if buffer was created without `std::ios::out`.

Ideally, the file should not be modified if buffer is used in read-only mode.

[2019-09-30 14:00] karasikov opened #66 "speed up graph cleaning"
When extracting unitigs from graph, get k-mer indexes along with the unitigs to avoid mapping the unitigs back to graph (to get the indexes and then k-mer counts).

[2019-10-02 07:39] #66 closed, assigned to nobody

[2019-10-04 16:32] hmusta opened #67 "FAILURE not reported until end of integration tests if not explicitly checked by self.assertEqual"
If there's an integration test which fails through some means other than `self.assertEqual` asserting false, the rest of the tests run and the error is only seen at the end.

For example, the following integration test
[code]
Leads to this output
[code]

It would be useful if we found a way to catch at report these earlier.

[2019-10-06 20:30] karasikov opened #68 "race conditions in row caching"
1. Fix locks in external library `caches`.
2. Copy values returned from cache instead of using references.

[2019-10-14 15:03] #47 closed, assigned to chrisbarber

[2019-10-14 16:05] karasikov opened #69 "export graph to .vg format"

[2019-10-25 08:05] chrisbarber opened #71 "Add paths to .gfa for sequences aligned to graph"
Additional functionality discovered during discussion of #47

[2019-11-15 08:41] #68 closed, assigned to hmusta

[2019-12-23 11:57] jendas1 opened #106 "call incoming kmers is not decoding the symbol"
Hi,
in case of DBGSuccinct, the call_incoming_kmers is giving the first symbol as a number, instead of char (as opposed to call_outgoing_kmers which does the decoding).

It would be great for the sake of consistency to both make them decode the symbol (or alt. both return the raw symbol -> change returning type).

[2019-12-23 16:11] #106 closed, assigned to nobody

[2019-12-30 14:35] #52 closed, assigned to nobody

[2019-12-30 14:40] #46 closed, assigned to nobody

[2020-05-25 10:00] #44 closed, assigned to hmusta

[2020-06-19 14:48] #45 closed, assigned to hmusta

[2020-06-19 17:20] #51 closed, assigned to chrisbarber, karasikov

[2020-09-25 13:05] hmusta commented on #67
Thanks! I'll close this issue now

[2020-09-25 13:05] #67 closed

[2020-10-05 07:43] pierrepeterlongo opened #211 "Supplementary materials"
Dear metagraph authors.

Thanks a lot for this impressive work. I'm looking for the supp mat pointed out in the manuscript. I was not able to find them, and the pointer https://github.com/ratschlab/metagraph_paper_resources does not exists.

Best,
Pierre

[2020-10-15 10:52] akahles commented on #211
Dear @pierrepeterlongo,

Thank you very much for reporting this issue. Please also accept our apologies for the late reply. We were pushing in the last days to further complete the material and improve the preprint, already incorporating the first feedback.

The above repository should now be publicly accessible and will be further filled with content over the next days. We are also in the process

[2020-10-15 10:54] #211 closed

[2020-10-15 10:57] karasikov commented on #49
After the recent updates, this doesn't seem to be an issue anymore.

[2020-10-15 10:57] #49 closed

[2020-11-10 23:34] michalkowalski94 opened #231 "Create conda package (to omit brew issues)"
Currently build and deploy of metagraph is limited only to docker and macOS users (instructions in README and wiki are not sufficient). Install with gcc on linux servers requires sudo.

[2020-11-10 23:59] karasikov commented on #231
Hi Michal,

I have been able to install and currently actively using MetaGraph with gcc and all dependencies on Linux without root, using Linuxbrew (see details in the [README](https://github.com/ratschlab/metagraph#install)).

Could you please specify what issue you're facing?

[2020-11-11 00:56] michalkowalski94 commented on #231
I cannot compile dependencies on CentOS(7), Ubuntu (18.04, 20.04), Debian(9) with [this instruction](https://github.com/ratschlab/metagraph/wiki/How-to-Start). I managed to compile fully functioning Docker image with this Dockerfile (compilation of KMC inside).
`FROM ubuntu:bionic
#Good practice
LABEL maintainer="m.kowalski@doctoral.uj.edu.pl"
#Environmental variables set for all image to get alon

[2020-11-12 08:52] michalkowalski94 commented on #231
Currently my efforts are facing this issue:
[code]
with end result in
[code]

I also had managed to install metagraph with brew on debian, so probably in near future I'll create pull request for update of wiki.

[2020-11-13 22:11] karasikov commented on #231
Hi Michal,

The error log looks incomplete. Could you send a full listing?

I wonder if these issues are caused by a conflict with other libraries you have installed on the system.
Can you try to reset environment variables to make sure you're using all dependencies installed with Linuxbrew?

Your contribution will be very much appreciated, thanks.

[2020-12-15 18:12] #61 closed

[2021-01-05 11:40] phiweger opened #258 "How to use as a local server?"
Thank you for this great tool.

I was wondering, do you have any advice/ instructions on how to serve sequence queries on a local server, analogous to what you provide through the API on the metagraph website?

Thx!

[2021-01-05 12:25] phiweger commented on #258
Ah, I guess this it the way to do it:

https://github.com/ratschlab/metagraph/tree/b4a05e820c91913147ba5407a702a5c78bd30756/metagraph/scripts/cloud

In the README the examples use a script called `main.py`, which does not exist in the "cloud" directory. Is this a placeholder or where can I find it?

Thx again.

[2021-01-05 13:02] karasikov commented on #258
Hi Adrian!

No, this is a custom server for managing custom jobs and processing raw samples in the cloud (before constructing an index).

If you have already got an index constructed, queries can be served in a server regime with
`./metagraph server_query -i <graph> -a <annotation> --port <port> -p <n_threads>`.
Then, use python API to connect to this locally running server on port `<port>` to do

[2021-01-05 13:07] phiweger commented on #258
so `./metagraph server_query` will basically load the index in memory and expose port `<port>` right?

how do you serve it on GCP if I may ask, ie as a single server instance?

the article mentions the ability to distribute the index across instances -- how would one do this?

thanks for your help!

[2021-01-05 13:11] karasikov commented on #258
One can start multiple metagraph server processes on a single or multiple machines, so then the API connects to all of them and distributes the queries.

[2021-01-05 13:21] phiweger commented on #258
I will try that, thanks @karasikov for your quick help!

[2021-01-05 13:21] #258 closed

[2021-01-06 21:34] phiweger opened #259 "Install fails"
I try to install as described in the README starting from an empty docker container w/ homebrew linux, namely `docker run -it --rm homebrew/ubuntu18.04`.

Everything goes smoothly until

`cmake .. && make -j $(($(getconf _NPROCESSORS_ONLN) - 1))`

which errs out with

[code]

It seems the problem is KMC. However, when I exclude it from the build like so `cmake .. -DBUILD_KMC=OFF && make -j $(($(ge

[2021-01-06 22:05] #259 closed

[2021-01-06 22:08] phiweger opened #260 "Install fails"
I managed to install the dependencies as suggested in the README (except folly which fails w/ brew but this is not part of this issue bc/ it is optional).

[code]

However, now `cmake .. && make -j $(($(getconf _NPROCESSORS_ONLN) - 1))` fails:

[code]

[2021-01-07 01:35] hmusta commented on #260
Thank you for reporting! Simplifying the compilation process is currently on our radar (see pull request #253).

For Ubuntu and Debian, `libhts-dev` needs to be installed to provide the headers for compilation.

[2021-01-07 06:26] danieldanciu commented on #259
I see that you closed this issue, I assume because you figured out what the
problem was. Can you post your solution so that others who have the same
problem benefit from it?

On Wed, 6 Jan 2021 at 23:05, Adrian Viehweger <notifications@github.com>
wrote:

[2021-01-07 06:46] phiweger commented on #259
Sure. I switched to Ubuntu 20.04 instead of 18.04 which comes with gcc > 8 which I think caused the problem. Now I run into #250

[2021-01-07 09:02] phiweger commented on #260
Thx @hmusta ! It works now as expected. Here's what I had to do to install (for anyone running into this problem)

[code]

[2021-01-07 09:02] #260 closed

[2021-01-07 15:57] phiweger opened #261 "metagraph build fails on protein sequences"
I try to use

[code]

on a multiline fasta (protein sequence with line breaks).

Here's an example `less $DATA`

[code]

Metagraph errs out with

[code]

Is this a bug?

[2021-01-07 16:05] akahles commented on #261
Hi @phiweger,

The alphabet to be used is set at compile time. For proteins, you would need to supply `-DCMAKE_DBG_ALPHABET=Protein` to cmake. This is currently a bit hidden in the README. We will improve the documentation on this.

Best,

Andre

[2021-01-07 16:06] phiweger commented on #261
I did compile with this flag.

[2021-01-07 16:09] phiweger commented on #261
More specifically, Incompiled vanilla, DNA worked, deleted the build dir, recompiled with the flag for proteins, then the error.

[2021-01-07 16:16] karasikov commented on #261
This could be caused by some parameters that are not adapted for the amino acids alphabet.

Try to supply build with this flag `./metagraph build --index-ranges 4 ...`

We'll merge the fixes for alternative alphabets to the main branch soon.

[2021-01-07 16:19] karasikov commented on #261
Stay tuned with #249

[2021-01-07 19:14] phiweger commented on #261
works! thx @karasikov

[2021-01-07 19:14] #261 closed

[2021-01-18 12:54] karasikov commented on #71
Solved in #256

[2021-01-18 12:54] #71 closed

[2021-01-18 13:12] hmusta commented on #231
We have simplified the installation procedure for various Linux distributions to no longer require non-standard packages. Could you please try it out to see if it works for you now?

[2021-01-18 14:38] michalkowalski94 commented on #231
Sure, on it 😊

From: Harun Mustafa <notifications@github.com>
Sent: Monday, January 18, 2021 2:13 PM
To: ratschlab/metagraph <metagraph@noreply.github.com>
Cc: Michał Kowalski <michal.bozydar.kowalski@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [ratschlab/metagraph] Create conda package (to omit brew issues) (#231)

We have simplified the installation procedure for various Linux di

[2021-01-21 17:36] marade opened #274 "index downloads missing"
Thanks for making this wonderful tool. Perhaps I am missing something obvious here, but I wonder where the indexes are? The paper says "All indexes created from public data comprising in total more than 1 million records are available for download or usage in the cloud." Is this true? If so, where are they located?

[2021-01-21 17:41] akahles commented on #274
Dear @marade ,

Thank you very much for reaching out. As the manuscript is still a pre-print, we are still organising all the relevant data. Once everything is in place, you will be able to find links to the indexes on metagraph.ethz.ch.

Thanks and Cheers,

Andre

[2021-01-21 17:46] marade commented on #274
Ah, good to know. Looking forward to seeing your work published!

[2021-02-02 11:05] akahles commented on #274
Dear @marade ,

We have now added a menu item "Indexes" to the metagraph.ethz.ch webpage, providing downloadable versions of the indexes. We will close this issue for now. Please re-open in case you still experience problems.

Cheers,

Andre

[2021-02-02 11:05] #274 closed

[2021-02-08 10:58] michalkowalski94 commented on #231
Hi there
Sorry for late response
Docker looks great, everything is working on own docker image and Yours.
Conda build unfortunately is still crashing:
[code]

[2021-02-08 12:44] michalkowalski94 commented on #231
There is also problem with integration tests, no matter what they do not see "parameterized" module

[2021-02-08 15:29] karasikov commented on #231
Hi Michal,

There were some residuals of libmaus remaining in the docker config, I cleaned that up. (branch `dev`)
It should cause no issues now.

As for the integration tests, they should work fine if you follow the [instructions](https://github.com/ratschlab/metagraph/tree/10da1c0c102880ae6b0fd26e501857b9917cfe4d#compile) and set up a python environment with `cmake ..`, which calls https://githu

[2021-02-09 11:23] michalkowalski94 commented on #231
Yes i had checked it.
About CI, i want to say that You are the best :D
I checked recent release and managed to create conda package for linux-64 out of it.
It is available in [here](https://anaconda.org/mkowalski_mcb/metagraph)

[2021-02-10 18:07] michalkowalski94 commented on #231
@karasikov  ping me in this thread when releases for macOS and linux will be in production phase, I'll test anaconda recipe and share it with You, so You could post it to Your channel or bioconda one

[2021-02-11 07:41] izcram commented on #231
@michalkowalski94 thanks for your effort and this first step! :) I've just started looking into the conda packaging for metagraph and will start working on writing a recipe which builds the binaries from source.

[2021-02-11 19:37] phiweger opened #291 "Allow two lists as input to metagraph assemble"
When differentially assembling two large groups, the current way of individually specifying each `--label-mask-in` and `--label-mask-out` on the command line can lead to the latter complaining about the input being too long. It would be cool to simply specify two lists or a `json` or some file that lists all the labels for each group.

[code]

Thx!

[2021-02-12 16:09] hmusta commented on #291
We currently have a pull request where this is going to be incorporated. After some tweaks, it should be merged some time next week.

[2021-03-04 15:27] izcram commented on #231
conda package was created on [bioconda](https://github.com/bioconda/bioconda-recipes/pull/26897)
It can be installed using `conda install -c bioconda metagraph`

[2021-03-04 15:27] #231 closed

[2021-03-12 12:59] phiweger commented on #291
Is there any update on this issue @hmusta ?

[2021-03-19 12:30] hmusta commented on #291
Sorry for the delay, we are still working out some minor issues in the pull request before merging.

Feel free to work in the diff_assembly_canonical branch for the time being.

[2021-04-06 13:52] karasikov commented on #69
This should be doable via GFA supported in Metagraph.

[2021-04-06 13:52] #69 closed

[2021-04-06 13:54] karasikov commented on #56
I think all this is covered quite well in the current tests.

[2021-04-06 13:54] #56 closed

[2021-04-08 17:28] AlessioMilanese opened #310 "Issue when installing with conda on macOS"
Dear developers,

I tried to install metagraph with conda (using the command: `conda install -c bioconda -c conda-forge metagraph`).
The installation was smooth:
[code]

But when I try to run the tool (`metagraph_DNA --version`) I get an error:
[code]

I'm using conda 4.10.0 installed with miniconda 3; on a macOS 11.2.3.

[2021-04-08 18:52] karasikov commented on #310
Dear Alessio,

I couldn't reproduce the issue with anaconda on my machine.

We'll try to investigate.

For now, please try installing that library with `brew install jemalloc`.

Please let me know if there is any problem.

[2021-04-08 18:56] karasikov commented on #310
And if that doesn't work, try with `conda install jemalloc`.

Let me know if any of these solves the issue.

[2021-04-08 19:12] karasikov commented on #310
Cool! Sorry for the lack of docs. Currently, there is just README and a bunch of scripts in [projects](https://github.com/ratschlab/metagraph/tree/master/projects).
But we're working on it. We should publish some meaningful documentation by the end of next week.

Anyway, feel free to contact us in case of questions or anything.

[2021-04-08 19:12] #310 closed

[2021-04-08 22:40] karasikov commented on #291
@phiweger Another way to deal with large numbers of labels for inclusion/exclusion is to build a single column for them in the first place.

That is, build a graph from all sequences, then annotate all those that you would mask as `--label-mask-in` with
[code]
and similarly for the excluded sequences:
[code]

Then run the differential assembly passing both of these aggregated columns:
[code]

This

[2021-05-17 07:38] phiweger commented on #291
@karasikov There might be a bug in what you suggest.

I have built 2 annotation files like so:

[code]

But differential assembly fails:

[code]

However, when I run `metagraph stats` on the `bar` annotation I get reasonable output, so I guess the file is not corrupted:

[code]

Is it possible that there is some bug in adding more than one annotation file like `metagraph assemble -a ... -a ...`?

[2021-05-17 09:56] karasikov commented on #291
Hi Adrian,

It indeed was loading only the first annotation, probably a side-effect of one of the recent changes. Thanks for catching.

I pushed a fix https://github.com/ratschlab/metagraph/commit/2083d711135fa482dece690200027f473c31f9c3 to branch `dev`.

If you want to still use the version from the last release without updating, a workaround would be to merge these two annotations before running

[2021-05-17 10:33] phiweger commented on #291
Thanks @karasikov the workaround worked (I'll stick to this version bc/ I use the Docker container you provide), thanks for the blitz response :)

[2021-05-17 11:45] phiweger commented on #291
@karasikov do these changes affect the differential assembly fn as well? I want to get all DNA fragments that appear in `foo` but not `bar`.

[code]

When I look at the content of the resulting `.fasta` file and search the fragments it returns against the genomes used to build the original graph, I find that they are unique to the individual genomes and not shared across the `foo` group. Am I usin

[2021-05-17 13:17] karasikov commented on #291
Hi Adrian,

Your observations are valid.

Building a joint label for all genomes from group `foo` is equivalent to merging all of them with `OR`.
Hence, your command assembles sequences from k-mers that are present in at least one of the genomes from group `foo` and absent in all of the genomes of group `bar`.

If you want the assembled sequences to contain k-mers from all the genomes of `foo`, yo

[2021-05-17 13:44] phiweger commented on #291
ah that makes sense, which brings me back to the first post of this issue :)

[2021-05-17 19:54] phiweger opened #321 "Differential assembly does not complain when wrong labels are passed"
I accidentally added non-existent labels `--label-mask-in` and `--label-mask-out` to the `metagraph assemble` command (say I annotated label "foo", but then tried to use a label "bar" for differential assembly). It passes, assembling I don't know what (neither does Blast), and does not complain about not finding the labels. I would expect this to throw an error, what do you think?

[2021-05-17 20:28] karasikov commented on #321
Hi Adrian,

This was fixed in #314. Currently, it does print an error as you suggest.

Could you please check which commit you're on?

[2021-05-17 20:50] phiweger commented on #321
I'm using the Docker container: `docker pull ratschlab/metagraph:0.1.0`

[2021-05-17 21:16] karasikov commented on #321
Yes, or switch to the more recent container (must be `ratschlab/metagraph:0.2.0`)

[2021-05-17 21:18] #321 closed

[2021-11-08 08:08] phiweger opened #354 "Alignment of reverse complement of short reads to graph fails"
I built a pangenome graph from a couple of bacterial genomes and now try to align some reads (Illumina) to it. This works, unless I try to get `metagraph` to align the reverse complement of the reads, too, using `--fwd-and-reverse`. Then I see the following error message:

[code]

The same happens when the query is a genome, instead of reads.

Any idea if this is a bug or am I using `metagraph` in

[2021-11-08 09:15] hmusta commented on #354
Thanks for reporting this! I have a few questions which can help me reproduce this
1) Which commit are you currently using?
2) Would it be possible to share the graph you are using, or to provide a minimum working example?

[2021-11-08 09:19] hmusta commented on #354
Also, as of commit 791952324611c54d9ac7dbb7a7dea34f9ac15521, metagraph will report the best among the alignments of the forward and reverse complement of a read by default. I am not sure if this is what you are looking for, or if you explicitly want a separate alignment to be reported for each orientation.

[2021-11-08 09:39] phiweger commented on #354
I am using the "latest" tag from the metagraph repo -- is this current? `ratschlab/metagraph:latest`

Please find the graph I used, its annotation, the reads (`SRR...`) and genomes (`faecalis.zip`) here: [osf.io/v986u/](https://osf.io/v986u/)

[2021-11-08 10:40] phiweger commented on #354
No I really only want to know about the read presence/ absence when mapping to the graph or where they map to specifically. I do not want an orientation-specific report.

If this is in the commit you mention @hmusta , is there a current docker container which includes it?

[2021-11-08 10:44] hmusta commented on #354
The release you're using should be fine. After looking into it, it turns out that this is a bug triggered by the `--fwd-and-reverse` flag which is also present in this release. I'm working on a quick fix now, but since you don't need an orientation-specific report, you can omit this flag.

As I mentioned, by default, metagraph will align the forward and reverse complement of an input read and repo

[2021-11-08 10:47] hmusta commented on #354
The wording for this flag's description in the help menu is a bit confusing, so I'll also revise that in the fix.

[2021-11-08 11:21] phiweger commented on #354
Awesome, so just to be sure: All the flag does is change the reporting, not how the graph is queried?

[2021-11-08 11:34] hmusta commented on #354
It's a little bit more complicated, in fact.

Given a query sequence, seeds are generated for both the query and its reverse complement and these are used to decide which of the two orientations to align (either the best one or both if they are close).

Since this is a heuristic, this may not lead to the optimal alignment being reported, so this flag exists to align the forward and reverse complem

[2021-11-08 11:51] karasikov commented on #354
So, I guess, in principle, it can lead to different results, that is, "align with --fwd-and-reverse -> select best" != "align without --fwd-and-reverse"), but this effect is the same as if you changed some other cutoff parameters controlling how much of the graph you explore in the alignment, right?

[2021-11-08 13:10] phiweger commented on #354
@karasikov is there something like "return only the best mapping". `--align-alternative-alignments` defaults to 1, is this equivalent?

[2021-11-08 13:16] hmusta commented on #354
Yes, this means that it returns the single best alignment (it could find) for a query.

[2021-11-08 13:20] #354 closed

[2021-11-15 16:09] Glfrey opened #356 "Missing file for annotating the graph with k-mer counts"
Hi,

I'm trying to annotate a graph with k-mer counts via the 'metagraph annotate' option. Given my command is `metagraph annotate -i Seq_1.dbg seq_1.fa --count-kmers -o Seq_1 --anno-filename` the error is `ERROR: Cannot read from file seq_1.fa.fasta.gz`. How do I get this required file? I already counted the k-mers in the 'build' stage and got a file called "Seq_1.dbg.weights" but I don't seem to

[2021-11-15 19:07] karasikov commented on #356
Hi, you need to transform this "sample graph" with k-mer counts to contigs and annotate with them:

So, just execute this before `metagraph annotate`:
`metagraph transform --to-fasta ... Seq_1.dbg -o seq_1 -p <NUM_THREADS>`
(also pass  `--primary-kmers` to `metagraph transform` if the graph `Seq_1.dbg` was constructed in the canonical mode).

You can find some more examples here https://github.com

[2021-11-15 19:27] karasikov commented on #356
Excuse me, I made a mistake in my first reply. You need to call `metagraph clean` instead of `metagraph transform`, to fetch the counts along with the contigs. It doesn't actually remove any k-mers unless you pass additional special cutoff parameters, so no worries about that. It just extracts all the contigs with counts for those k-mers. Then you can annotate your final graph using these contigs

[2021-11-15 20:08] Glfrey commented on #356
Thank you so much for your rapid reply, I'll try that out now and get back to you.

[2021-11-15 21:22] Glfrey commented on #356
Your commands worked great, thank you, although I do still have to specify `--anno-filename  ` else I receive the error `Error: No annotation to add`.

I'm now just wondering what I can do with the counts file now I have it? It's not in a readable format, and none of the other programs, such as `metagraph query`, `metagraph transform_anno`, `metagraph assemble` seem to recognize it as they all say

[2021-11-15 22:01] karasikov commented on #356
Yeah, this is normal. One has to specify what to use a "label" (column name) when annotating the graph. So one of the following flags must always be passed to `metagraph annotate`: `--anno-filename`, `--anno-header`, or `--anno-name <LABEL>`.

`*.annodbg.counts` is an intermediate thing. Once you got the column `*.column.annodbg` and the counts `*.column.annodbg.counts`, you need to convert them t

[2021-11-15 22:16] karasikov commented on #356
You can also get more information, like compute any count quantiles with flag `--count-quantiles`, e.g.,
[code]
to print MIN, MEDIAN, and MAX of counts for the k-mers from each contig.

[2021-11-16 10:03] #291 closed

[2021-11-16 14:55] Glfrey commented on #356
This is brilliant, thank you. The server I use is down at the moment but I'll certainly play around with the commands and output when it's back online. Thank you for help!

[2021-11-16 14:55] #356 closed

[2021-11-16 15:04] hmusta commented on #50
I'm closing this for now since changing this is not urgent. I'll reopen it later if this feature is requested.

[2021-11-16 15:04] #50 closed

[2021-11-16 15:07] karasikov commented on #291
@phiweger, Harun has changed the differential assembly flags in #225 quite a bit.
The interface should now be way more flexible.
Check it out and, as usual, feel free to reach out for help, if something is unclear! :)

[2021-11-17 06:39] phiweger commented on #291
Thanks and great work, I'll close this then.

[2021-11-30 10:41] thomastzhou opened #359 "Metagraph fails to build with AppleClang 13"
**Issue**
Metagraph fails to build on MacOS with AppleClang 13 (Xcode 13) as seen in [this workflow run](https://github.com/ratschlab/metagraph/runs/4365800753). This workflow was run on a branch identical to master, which [has a workflow run that previously passed](https://github.com/ratschlab/metagraph/runs/4223149081) using AppleClang 12.

One possible solution would be to use `macos-11` instea

[2021-11-30 10:58] karasikov commented on #359
I wonder why it fails to compile with Xcode 13

[2021-12-05 18:24] #359 closed

[2021-12-20 12:30] thomastzhou opened #369 "Assertion fails when aligning empty sequence"
**Error:** When aligning an empty sequence, an assertion fails and the metagraph process crashes. This is problematic for metagraph server_query processes, as aligning with `client.align("")` to a public graph API will crash the underlying server process.

The following assertion error is given:
[code]

**Steps to reproduce with CLI:**
1. Generate a FastQ file representing an empty sequence
[code]

[2021-12-28 22:43] phiweger opened #371 "Extract gfa file and unitig labels"
Is it possible to get (1) the gfa-formatted graph and (2) the presence-absence information on which unitig carries which labels without any query? I would like to do some "network analysis" on a pangenome graph, so this would be very helpful.

[2022-01-03 13:24] karasikov commented on #371
Hi Adrian,

Does this have to be one gfa-graph with labeled unitigs or having multiple gfa-graphs (one for each label) would work too?

[2022-01-03 19:42] phiweger commented on #371
I would need one gfa file bc/ I want to separate "regions" in the graph based on label patterns.

[2022-01-06 14:45] karasikov commented on #371
There is only very basic support for GFA right now.
In principle, this is easily solvable. We just need to map node ids from `path` to labels during the [extraction of unitigs](https://github.com/ratschlab/metagraph/blob/master/metagraph/src/cli/assemble.cpp#L219-L242)  (which would require loading the annotator along with the graph) and print those annotation labels extracted per unitig to GFA.
C

[2022-01-06 20:44] phiweger commented on #371
My workflow is to parse the gfa into a graph datastructure using the `networkx` python library and then search for conserved regions, conserved meaning present in many labels, in order to use them for probe design in target capture libraries (ie lab work).

I'd write a PR, if only I knew how to read and write C++ ;)

[2022-01-09 15:51] karasikov commented on #371
Hm, interesting... Would it be reasonable to do this analysis on k-mers instead of unitigs?
We've just pushed another patch that lets you aggregate columns and compute how many labels contain each k-mer. So, this analysis can now be performed entirely within metagraph.

So you could do something like this:
[code]
where `rules.json` contains the following:
[code]
(assemble contigs from a subgraph i

[2022-01-09 15:52] karasikov commented on #371
For more details on operations see https://metagraph.ethz.ch/static/docs/quick_start.html#column-operations

[2022-01-09 19:29] phiweger commented on #371
Thank you for the response! I'll see if I can reformulate my problem to use the new command. However, I doubt that this use case would work. For example: Say I want to design a probe of 100 nt which is contained in labels {A, B, C} but not {D, E}. Using the label fraction as parameter, I cannot control which labels to include/ exclude. And with the k-mers, I loose the contiguity information, not?

[2022-01-11 12:26] karasikov commented on #371
Actually, you can construct two columns: what to include and what to exclude. Then run differential assembly with those:
[code]

Regarding the contiguity, would it actually be different from pulling unitigs? Unitigs is also nothing but a few neighboring k-mers stitched together. So in this issue is present in both approaches. But anyway, if you set k-mer size to, say, 70+, it should solve the prob

[2022-01-11 18:48] phiweger commented on #371
Ah that is a good idea, thanks, I will try this! Closing this for now.

[2022-01-11 18:48] #371 closed

[2022-01-27 14:33] dawnmy opened #375 "Conda install not successful"
I installed `metagraph` 0.3.3 with conda, and conda did not complain during the installation. However when I start metagraph after installation in the command line, it reports:
[code]
The CPU of my server node is: `Intel(R) Xeon(R) CPU E5-2680 v2`, flags in `cpuinfo`:
[code]

and the OS is:
[code]

I also tried to download the binary files from the release, both version 0.3.3 and 0.3.2 of `metagra

[2022-01-27 14:45] dawnmy commented on #375
Update:

It worked on another node with: `Intel(R) Xeon(R) CPU E5-2698 v4`. So the cause of the issue is that older version of CPU does not support certain instructions used by metagraph.

[2022-01-28 10:02] #375 closed

[2022-01-28 11:07] karasikov commented on #375
It will now pre-compile static binaries without MSSE4.2 instructions as well and upload them on every future release.

Can you try this binary to see if this runs on your machine?

https://github.com/ratschlab/metagraph/suites/5086127291/artifacts/151796696
Run the *_noAVX binary from the archive.

[2022-01-29 16:09] dawnmy commented on #375
Thank you for providing the binary without MSSE4.2 instructions. Great that you will upload it on every release. Yes both metagraph_DNA_noAVX and metagraph_DNA worked for me.

[2022-01-29 22:03] karasikov commented on #375
Hm... This is interesting. `metagraph_DNA` should be complied with all instructions, so it should be as the one provided by bioconda. Anyway, I'm glad it worked.

[2022-02-05 11:17] #369 closed

[2022-02-05 11:18] hmusta commented on #369
Thanks for reporting this! The issue should be fixed now.

[2022-03-28 21:07] hrwaik opened #399 "Kmer width and Python API"
Hello,

I've been trialing Metagraph for some work on my current project. I just had a few quick questions regarding certain functions.

First, from the wiki regarding --count-width, if the value is set low does this cap the kmers to the lower bound, meaning any high abundance kmers would not be found? Does this essentially make low abundance taxa more easily searchable than if this is not set?

S

[2022-03-28 21:26] karasikov commented on #399
Hi Huw,

`--count-width` sets the maximum count. So all k-mers with higher abundance will still be found, but their abundance will be reset to the maximum possible value corresponding to that width.

What do you mean by setting the new locations?
There is an example (https://metagraph.ethz.ch/static/docs/api.html#example-of-search-in-metasub) in the API on how to connect to the metagraph server. I

[2022-04-04 22:01] hrwaik commented on #399
Hi Mikhail,

Many thanks for your reply and apologies for my slow response.

Regarding the Python API, by new locations, I meant the locations of any indices I create. For instance, if the created index is located in an Amazon S3 bucket, I assume I replace dnaloc.ethz.ch with the S3 bucket location and the api_path is the path to the specific index, is that correct? I'm still unclear on determinin

[2022-04-05 09:32] karasikov commented on #399
If that Amazon S3 bucket has a public IP, you should just provide that instead of `dnaloc.ethz.ch`.
For the port, pass to `metagraph server_query` flag `--port` with the desired value (otherwise, the default 5555 will be used). In this setting, you don't need to pass any `api_path`, so that flag should be empty in the python API.
(`api_path` is used to pass requests through another HTTP server red

[2022-04-05 11:35] karasikov commented on #399
FYI: I added a short paragraph to the docs describing the setting with a locally hosted index.
https://metagraph.ethz.ch/static/docs/api.html#query-a-locally-hosted-index

[2022-04-30 07:47] LRParser opened #401 "Cannot Download Plant Indices"
Hello,
The plant indices cannot be download, Google Drive says "Download limit reached". Is it possible to give these a new name / put them in a new folder so download might work?
Thanks! This is an interesting project

[2022-05-06 19:34] phiweger opened #402 "Outdated dockerhub build?"
[code]

[2022-05-08 16:15] karasikov commented on #402
Hi, we've moved the docker containers to ghcr.io (e.g., `ghcr.io/ratschlab/metagraph:master`). Please see more at https://github.com/ratschlab/metagraph/pkgs/container/metagraph

[2022-05-08 18:05] #402 closed

[2022-05-09 10:32] karasikov commented on #401
Hi Joe, can you try again?
Sometimes the download limit on Google Drive is exceeded and then it recovers in a day or so.
Hope it helps.

[2022-05-09 10:46] LRParser commented on #401
Hi,
No luck unfortunately, I just tried again with two different browsers and have tried a few times over the past month but can't download it. The error message either references "third-party cookies" or "download limit reached" on Chrome/Firefox etc. All other indices downloaded OK so I suspect the issue must be the file size. Is there any chance you can put it in an S3 bucket, even with request

[2022-05-17 04:59] hrwaik commented on #399
Sorry, for the delayed response. Thank you for the information, it was really useful.

I was just wondering if you could give some explanation to to the output format from the metagraph align command. For instance, how are the scores calculated and does this differ for DNA and protein sequences? I had a look in the online documentation but that part is still under development.

Many thanks,
Huw

[2022-05-17 10:01] karasikov commented on #399
@hmusta could you please comment on that?

[2022-05-17 10:20] hmusta commented on #399
The output is in TSV format, with one line per query sequence. If there are N hits from a given query, then each line will have 2 + N*6 columns to report if no annotator is passed and 2 + N*7 if an annotator is passed. Assuming that an annotator is passed to the aligner, the columns are as follows, where 0 <= i < N.

Col | Description
---|---
0 | Query header
1 | Query sequence
i*7 | Orientation o

[2022-05-19 01:34] hrwaik commented on #399
That's very helpful, thanks. Just out of curiosity, do you know how ambiguous bases or amino acids will be handled by these scoring methods? I presume that for the DNA scoring it won't really matter as long as the bases match it should be fine, though for ambiguous amino acids being scored by BLOSUM62 seems less intuitive. Do you know how these are handled?

Many thanks

[2022-05-19 17:32] hmusta commented on #399
Any character that's not one of `ACGT` (for DNA) or `ARNDCQEGHILKMFPSTWYVBZX` (for amino acids) is treated as a mismatch with the lowest score/greatest penalty.

In the BLOSUM62 table, there are indeed variable scores for matching different amino acids with an unknown amino acid. Even though I'm not 100% sure of this, I'd assume that they are derived from ground-truth alignments of amino acid sequ

[2022-05-23 14:58] Glfrey opened #403 "Help interpreting k-mer coordinate output"
Hello again,

I'm trying to make sense of the output of a k-mer coordinate search. I'm getting results that look like below:

[code]

I gather from the below parameter that metagraph uses bins to store k-mer coordinates:

`--coord-binsize [INT]	stepsize for k-mer coordinates in input sequences from the fasta files [1000]`

So am I to gather the "100" I am seeing above means the sequences are all i

[2022-05-24 03:54] karasikov commented on #403
Hi Gillian,

That's a method we used in the past but now it's actually obsolete, as you can use the Counting de Bruijn graphs methods with `metagraph annotate --coordinate ...`. See more docs here https://metagraph.ethz.ch/static/docs/quick_start.html#index-k-mer-coordinates

Once an index is constructed, you can query it with `metagraph query --query-coords ...`

Let me know if you need more deta

[2022-05-24 07:19] Glfrey commented on #403
Hi @karasikov,

Thank you for your rapid reply! Unfortunately that doesn't seem to an option on the current release:

[code]

I installed the version I'm using via conda and I did run an update to be sure and the message remains the same.

[2022-05-24 15:06] karasikov commented on #403
If you want to query coordinates, simply run `metagraph query --query-coords`.

Alignment is run a bit differently. @hmusta Could you help with this?

[2022-05-24 23:00] karasikov commented on #403
This could happen for an outdated version. Where do you pull the release from? If you're using docker, could you please switch to `ghcr` (https://github.com/ratschlab/metagraph/pkgs/container/metagraph)?

[2022-05-24 23:05] #399 closed

[2022-05-25 09:42] Glfrey commented on #403
I got the release I was using from anaconda. I did update it but it made no difference so I just reinstalled in a fresh environment and now it seems to be working. Is this what the output should look like?

`15218	TraesCS7D02G291100.1	<CDS.fa>:0-160328441-160328460:0-160331475-160331494:41-160328482-160328504:41-160331516-160331538:0-1558900-1558979:0-1561946-1562025:0-117774432-117774511
15219	Tr

[2022-05-25 22:27] karasikov commented on #403
Yeah, sure!

`15218`  -- query seq id
`TraesCS7D02G291100.1`  -- query seq name
`CDS.fa` -- sample match 1
Then you have k-mer matches delimited with `:` in format `<coord of the first k-mer in query>-<coord of the first k-mer in sample (CDS.fa)>-<coord of the last k-mer in sample>`
`0-160328441-160328460` -- k-mers with coordinates 160328441-160328460 in the indexed sample `CDS.fa` match the resp

[2022-05-27 22:04] enricorox opened #405 "Metagraph ignores mem cap and disk swap running out of memory"
I am trying to annotate a graph with the following command
`./metagraph annotate -p 4 --mem-cap-gb 8 --disk-swap /tmp -v -i SRR5853087.dbg --coordinates --anno-filename -o SRR5853087 SRR5853087.fa`
where SRR5853087.dbg comes from
`./metagraph build -p 4 --mem-cap-gb 8 -v -k 31 -o SRR5853087.fa`

It keeps running out of memory and I don't know why since it is supposed to use the disk when the buffe

[2022-05-28 00:47] karasikov commented on #405
Hi Enrico,

The current implementation does not fully support annotation with limited-size buffers when you annotate with coordinates.
Basically, you need to have enough memory to keep that annotation column uncompressed in RAM (roughly 8 bytes per k-mer) when annotating it.
This's only during construction. Once a column is annotated, it's flushed to disk, so you only need to have enough RAM for o

[2022-05-28 14:40] enricorox commented on #405
Thank you so much for the fast response and the valuable advice @karasikov!
In order to circumvent this limitation, can I use a huge Linux swap file?

[2022-05-30 03:02] karasikov commented on #405
It writes a bunch of integers to a buffer and sorts them at the end of the construction, so I think it won't be fast if one just uses a swap file for that buffer. In principle, it could be done with some sorting in external memory, but for now, it's not implemented.

Currently, one option without writing any extra code could be to split the input file into smaller ones and annotate them as separat

[2022-06-02 14:18] karasikov commented on #405
I added the support for disk-swapped construction of columns with coordinates in #406. This will be available in the next version release. You can also try it out earlier if you're compiling from source or you can also use it with [docker](https://github.com/ratschlab/metagraph/pkgs/container/metagraph/) once that PR is merged to the master branch. Your command is good, it will work without any ch

[2022-06-02 15:00] enricorox commented on #405
Sorry for the late reply.
I'm using SRR5853087.sra downloaded from NCBI and converted in FASTA. It's about 7.8GB, I don't know exactly how to annotate the graph separatly, do I need simply to split the file?

Thank you so much for adding disk-swap feature!
I'm compiling from source so I let you know if it's working for me.

[2022-06-12 04:03] Glfrey commented on #403
@karasikov apologies for the delay and thank you so much for your help!

[2022-06-12 04:07] Glfrey opened #407 "Dealing with reads and a reference genome"
Hello,

I'm trying to build a graph containing reads from a sample and the reference genome to which I want to compare. However, for reads I understand it's best to construct a graph in canonical mode, extract primary k-mers and then build a graph from these. For the reference genome though a non-canonical graph should be constructed (am I right here?). Operating on the assumption my  statements a

[2022-06-14 18:04] karasikov commented on #407
All correct, for reference genomes it's better to construct everything in the `basic` mode (which is also a default).

If you indeed want to represent genomes and reads in a joint graph, the best strategy would probably be to build everything in the `basic` mode but index each read with its reverse-complement (just add flag `-r` when building sample graphs from the read sets).

Are you actually ru

[2022-06-16 15:29] hmusta commented on #403
One follow-up question: for your analysis, do you need to perform an alignment (i.e., inexact matching) of your queries against the graph, or is fetching the coordinates from exact k-mer matches sufficient?

If you need to perform an alignment, it can be done using `metagraph align ...`. Given an annotator that encodes k-mer coordinates, you'd have to run `metagraph align -i CDS.dbg -a <ANNOTATOR

[2022-06-16 19:29] Glfrey commented on #403
Hi

[2022-06-16 19:30] Glfrey commented on #403
Hi @hmusta,

I actually need to do both. Will the `metagraph align -i CDS.dbg -a <ANNOTATOR FILE> --align-chain CDS.fa` give the coordinates of where the sequence aligns?

[2022-06-16 19:32] hmusta commented on #403
Yes, along with the alignment CIGAR string (the sequence of edits) and some other alignment statistics.

[2022-06-16 20:58] karasikov commented on #407
My bad, the correct flag is `--fwd-and-reverse`, not `-r`.

[2022-06-20 16:42] Glfrey commented on #407
Hi @karasikov,

Thank you for that. However building with the `-fwd-and-reverse` takes a prohibitive amount of memory for me for my reference and samples. Would an acceptable strategy be to build a graph for each sample and merge them as you described above?

[2022-06-20 16:51] karasikov commented on #407
Did you try constructing with disk swap (e.g., `--disk-swap /tmp --mem-cap-gb 10`)?

Do you want to index all reads or you'd like to do some graph cleaning beforehand?

Feel free to describe your setup in more detail so I can make my suggestions more specific.

[2022-06-22 10:25] karasikov commented on #405
I merged this feature to master. It will be supported since version 0.3.5.

[2022-06-22 10:25] #405 closed

[2022-06-22 13:24] enricorox commented on #405
This is working great, thanks!

[2022-06-22 23:41] Glfrey commented on #403
Brilliant, thank you!

[2022-06-23 10:31] Glfrey opened #408 "Simultaneous coordinate and count annotation issue"
Hello again,

I've noticed when trying to annotated coordinates and counts simultaneously using a command such as:

`metagraph annotate -i test.dbg -o coord_count_anno --anno-filename  --count-kmers --coordinates cleaned_unitigs.fasta.gz`

no count file is produced, only coordinates. Here is the verbose print:

`[2022-06-23 11:29:33.837] [trace] Metagraph started
[2022-06-23 11:29:33.841] [trace]

[2022-06-23 11:30] karasikov commented on #407
Sure thing, the cleaning can be done using any available tool. It may not even be necessary, I just wanted to clarify whether the problem in a graph that is too large (i.e., it contains more k-mers than you expected) or if you're indeed ultimately trying to build that large graph but it runs out of memory. Sounds like it's the latter. So, yeah, `--mem-cap-gb` is the thing you need.
It's actually n

[2022-06-23 11:38] karasikov commented on #408
Hi, in principle, if you have coordinates, they contain the abundance information as well (the count is equal to the number of coordinates for that k-mer), so it prioritizes the coordinates and skips the counts.
However, I now see a point that one may want to have both representations and use coordinate annotations for querying coordinates and count annotations for querying counts. Although you ca

[2022-06-23 13:41] Glfrey commented on #407
Yeah potentially my project is too large, I'm aiming to see how many sample I can cram in to establish an upper limit given my computational constraints. I understand you've done whole SRA taxonomies so I know massive graphs are possible but I don't quite need to construct anything that size.

Thanks for the recommendation, I'll use that in future constructions. I was able to construct a graph in

[2022-06-23 13:51] Glfrey commented on #408
That's really interesting. How would you access the counts using the coordinates? When I do:

`metagraph query -i test.dbg -a test_anno.column.annodbg --count-kmers cleaned_unitigs.fasta.gz
`

I get back:

`[error] Annotation does not support k-mer count queries. First transform this annotation to include count data (e.g., int_brwt or row_diff_int_brwt).`

When I try transforming I get:

`[2022-06

[2022-06-23 14:51] karasikov commented on #407
Of course, I'll be happy to chat! e-mail mikhaika@inf.ethz.ch or any other platform.

This construction first will need some RAM for the buffer (+ a minor overhead). Then it will release the buffer and will build the final graph at the very end. So you basically need to reserve enough RAM to load the final graph in RAM (which is sometimes very hard to estimate). Though, we know that the final grap

[2022-06-23 15:40] karasikov commented on #408
`--count-kmers` is not used and does nothing in `metagraph query`.

I guess it was
[code]

`0 1 <cleaned_unitigs.fasta.gz>:0=1` means in query sequence `0` with name `1` it found the following matches against sample `cleaned_unitigs.fasta.gz`: actually there was only one k-mer matched. It goes at position 0 in the query sequence and has the abundance of 1 in the indexed sample `cleaned_unitigs.fas

[2022-06-26 20:19] mr-eyes opened #409 "Python API RuntimeError"
Hi,

I attempt to use the Python API but it threw a `RuntimeError`.

I used the same [example](https://github.com/ratschlab/metagraph/blob/master/metagraph/docs/source/api.rst#example-of-search-in-metasub) in the docs.

Tested on Python `3.10.5`.

Error:
[code]

Thanks,

[2022-06-26 20:49] karasikov commented on #409
Hi, there seems to be an issue with request forwarding.

Please use `api.metasub.ch` instead of `dnaloc.ethz.ch` for now. This should solve the problem.

[code]

[2022-06-26 21:11] mr-eyes commented on #409
Thanks for the quick response! It worked now.

I have one more question. Where can I find the list of `api/$databases` like the `metasub19` and `uhgg`?

[2022-06-26 21:14] karasikov commented on #409
It's the last column on this page https://metagraph.ethz.ch/graphs

[2022-06-26 21:15] mr-eyes commented on #409
Many thanks!

[2022-06-26 21:15] #409 closed

[2022-06-27 12:14] Glfrey commented on #407
Hi @karasikov, thank you for that information. I'm having an issue building a graph that merged contains from multiple graphs. I keep getting an error message that metagraph can't open the temp files:

`[2022-06-27 05:38:22.445] [trace] Splitting k-mers from chunk
/tmp/temp_kmers_jmH4zA/chunk_m13 into 16 chunks...
[2022-06-27 05:38:22.445] [trace] Splitting k-mers from chunk
/tmp/temp_kmers_jmH4zA

[2022-07-04 10:58] Glfrey commented on #407
Hi @karasikov, good shout it very well could be. My limit is 262144 and I don't think I'll have the permissions to increase that number but I'll contact my sys admin, or as you say, reduce thread number. Thank you for your seemingly never-ending solutions to the problems I find!

[2022-07-04 11:03] Glfrey opened #410 "Metagraph for pangenome analysis"
This isn't an issue per se, but rather a theoretical question. Could metagraph be used for a non-read based pangenome analysis? II understand it would function beautifully for a read-based analysis, but if an abundance of beautifully assembled genomes should present themselves for pan-genome analysis (wouldn't that be nice), could metagraph lend itself to such an application without needing to res

[2022-07-04 11:58] Glfrey commented on #410
Brilliant, thank you. Metagraph is truly a game changing tool and I'm very grateful for the responsiveness to my (never-ending) queries. I'll close this as it's not really an issue but is it worth posting this information in the GitHub readme so others can see?

[2022-07-04 11:58] #410 closed

[2022-07-05 05:00] karasikov commented on #410
Thanks for your suggestion. I added a line about this to the readme.

[2022-07-05 23:12] hmusta commented on #403
I'm not sure what kinds of measures you have in mind when you say you want to compare the alignments. Could you please elaborate?

[2022-07-12 09:49] pierrepeterlongo opened #412 "Use a file of file"
Hi there.
Thanks for this fantastic work.

Is there a way to give a file of files to metagraph?
Imagine this tree:

[code]

The behavior I’m looking for would be

[code]

But the explicit concatenation is too expensive.
In kmtricks for instance we could use a file of files like this:

[code]

And run kmtricks on this fof. Each line is considered a unique set of reads (for counting, filtering erron

[2022-07-12 12:39] karasikov commented on #412
Hi Pierre,

As we've already briefly discussed this on e-mail, I'm just going to summarize the answer here.

The graph itself can be constructed from multiple files -- simply pipe the list of all files to `metagraph build`:
[code]
or cat from a list of all the files: `cat list_all.txt | metagraph build ...`.

Once a graph is constructed, it needs to be annotated, which can be done in different way

[2022-07-21 23:25] shokrof opened #416 "Snakemake workflow for indexing kmer counts"
Hi,
I am wondering if you developed a snakemake workflow that can index sequencing datasets with the kmer counts. I am looking for a snakemake version of the [kingsford experiment](https://github.com/ratschlab/metagraph/tree/master/projects/kingsford).

Thanks,
Moustafa

[2022-07-22 09:22] karasikov commented on #416
Hi Moustafa,

There is a package with a snakemake workflow for constructing annotated graphs. https://metagraph.ethz.ch/static/docs/workflows.html

Hope that helps. Let me know if you have any questions regarding it.

[2022-07-22 19:02] shokrof commented on #416
I checked this page but it is unclear for me that the workflow will index the kmer counts as well

[2022-07-23 09:57] karasikov commented on #416
Ah, yeah. The Snakemake scripts were indeed written before we added indexing of counts.

I recommend using the main tool for the time being. You can find many useful example commands here https://github.com/ratschlab/counting_dbg/blob/master/scripts.md

[2022-07-24 23:11] shokrof commented on #416
I have a question regarding the commands. How did we get $DIR/../kingsford.dbg in the following command?
I am guessing there should be a step where we merge all the weighted compact debruijn graphs.
[code]

[2022-07-25 15:52] Glfrey commented on #403
Hi @hmusta sorry for the delay. I've solved this, I essentially just wanted to see the alignment scores for different sequences in my annotations file. I was able to do this by using a joint annotation file as the alignment/query annotation file  and metagraph automatically showed me the alignment scores for both.

[2022-07-25 15:52] #403 closed

[2022-07-25 16:02] Glfrey opened #418 "Annotation slow down"
Hello again!

I've noticed a major slow down in annotation speed for a graph I'm annotating and I was wondering it's to be expected or something you'd like to look at.

The speed difference can be seen in verbose mode with the following message:

`[2022-07-25 09:46:17.135] [trace] processed 80000 sequences, last was metasub_by_kmer.80000, trying to annotate as <metasub_by_kmer.80000>, 0.196139272

[2022-07-25 16:42] karasikov commented on #418
Hi Gillian,

The annotation algorithm first accumulates a batch of sequences and then starts annotating them in worker threads -- that's why you see the first files are processed very quickly (it essentially just reads data), but then it starts the actual annotation process.
In short: what you observe is normal. The actual annotation speed is what you see in the last lines.

Regarding the annotati

[2022-07-25 17:07] Glfrey commented on #418
Hi @karasikov thank you as always.

As for your suggestion with the annotations I should probably explain my experimental set up. I'm not actually working with reads at this point, I'm working with unitigs from the differential assembly algorithm so there's far fewer sequences to annotate. That being said there's still loads of them so perhaps your annotation suggestion is wiser than the approach

[2022-07-25 17:07] #418 closed

[2022-07-28 19:17] karasikov commented on #416
Exactly, this is done in this step: https://tex.stackexchange.com/questions/313920/latexit-does-not-render-anymore

1. Build sample (weighted) graphs
2. Extract contigs from each
3. Build a joint graph from all these contigs (build canonical -> pull primary contigs from the canonical graph -> build a primary graph)

[code]

[2022-07-28 22:01] shokrof commented on #416
Thanks, I got it.
I made a snakemake script for this part. I haven't implemented the batching idea but it will be easy to do. I will document it and share it with you soon.

[2022-08-05 17:37] Glfrey opened #421 "API Header annotation/query error"
Hello again,

I've constructed a graph and annotated it using the headers. However, when I query the graph back with the sequences used to construct the graph and then annotate it, I get the incorrect header returned. For example:

If my sequence is:
`var_in.1
TTCCGATCTAGACATAACATACCAGTAATCTCTAGATG`

I query it against the graph and it should return that exact header. However I get a completely di

[2022-08-05 18:24] Glfrey commented on #421
Just a quick update,  this doesn't appear to be limited to the API. A regular query yields the incorrect label too:

`0	var_in.1	<var_in.3040331>:0-0-7`

[2022-08-05 21:50] karasikov commented on #421
Hi Gil! I double-checked the code but didn't find any bugs so far. The only thing I realized is that it's not going to work if the annotation labels are not distinct. Can it happen that multiple sequences have the same header in your files?

[2022-08-06 09:26] Glfrey commented on #421
Hi Mikhail, thanks for checking this out. The headers are those given from the differential assembly process where I added in “var_in” prefix in the json file. I don’t think the assembly process duplicates headers and a quick check shows me they seem to be unique. I’d be happy to share my files with you to duplicate the problem if that’d help?

[2022-08-06 12:17] karasikov commented on #421
That would be awesome! If I can repeat the process, I'll find the problem much faster. Could you share the files via google drive, for instance?

[2022-08-06 14:24] Glfrey commented on #421
Sure thing, I’ll set that up. Shall I send permissions to access to the email I have for you already?

On 6 Aug 2022, at 13:17, Mikhail Karasikov ***@***.***> wrote:

﻿

That would be awesome! If I can repeat the process, I'll find the problem much faster. Could you share the files via google drive, for instance?

—
Reply to this email directly, view it on GitHub<https://github.com/ratschlab/metag

[2022-08-06 14:25] karasikov commented on #421
Yeah, perfect. Thanks a lot!

[2022-08-06 17:17] Glfrey commented on #421
I uploaded the sequences and sent you and invite, let me know if there’s any issues accessing the data.

On 6 Aug 2022, at 15:25, Mikhail Karasikov ***@***.***> wrote:

﻿

Yeah, perfect. Thanks a lot!

—
Reply to this email directly, view it on GitHub<https://github.com/ratschlab/metagraph/issues/421#issuecomment-1207223931>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AH5I6VO

[2022-08-06 20:07] karasikov commented on #421
I got it, thanks. I've just tested with `brwt_coord`. It seems to be working fine and returns proper labels/headers.

I'm testing now `row_diff_brwt_coord`.

Which annotation format are you working with?

PS. I've just found that it annotates headers (in fact, anything if you have many-many labels) way faster if you reduce the buffer size. Simply pass `--mem-cap-gb 1e-4` when you run `metagraph an

[2022-08-06 20:16] Glfrey commented on #421
Brilliant that's good news and thank you sharing the speed up trick, that's very helpful.

I transform the coordinates using the column coordinatess:
`metagraph transform_anno -o Var_DA_transformed --anno-type column_coord Var_DA.column.annodbg -v
`

I'll go ahead and change to `brwt-cord` and test it out.

[2022-08-06 20:32] karasikov commented on #421
Hm... Actually, I did test with `column_coord` too and got the correct result.

Could you please share the full command for generating the final index, just to make sure I'm not missing something?

Thanks!

[2022-08-06 20:38] Glfrey commented on #421
Huh that's strange.

The construction command I used was:
`metagraph annotate -p 64 -i var_DA.dbg -o Var_DA --anno-header --coordinates -v  var_DA.fasta.gz
`

[2022-08-06 20:40] karasikov commented on #421
And then ... `transform_anno`?

[2022-08-06 20:42] Glfrey commented on #421
`metagraph transform_anno -o Var_DA_transformed --anno-type column_coord Var_DA.column.annodbg -v
`

[2022-08-06 20:42] karasikov commented on #421
Also, which version of metagraph are you using?
What does `metagraph --version` say?

[2022-08-06 20:43] karasikov commented on #421
Ok, all looks good to me. I did the same thing. I'll try again...

[2022-08-06 20:43] Glfrey commented on #421
`Version: 0.3.4`

[2022-08-06 20:44] karasikov commented on #421
Ok, thanks! I'll try again tomorrow and let you know.

[2022-08-06 20:45] Glfrey commented on #421
Thank you so much! I'll try different transformations and see what happens too.

[2022-08-07 16:06] karasikov commented on #421
Hi Gil, I tried again everything from scratch with the following commands and got the correct results.

[code]
[code]

I also tried that on version 0.3.4 from bioconda and it worked too. So it looks like I can't reproduce the bug on my system :(

Do these commands look equivalent to those you're running or I missed something?

PS. I've also started a PR (#423) with some other minor fixes and impro

[2022-08-08 12:37] Glfrey commented on #421
Hi Mikhail, thank you!  It looks to me like you're doing everything I did, which means there's probably an error on my end somewhere. I did try and rerun the process yesterday on my end but the server I'm using was very busy so I'll try again today and I'll let you know what happens. Thank you for all of your help!

[2022-08-09 16:02] Glfrey commented on #421
Hi Mikhail,

I can confirm the error is on my end somewhere. I still haven't identified what is going wrong with that specific dataset but repeating the process with a different dataset is giving me the correct results. Apologies for wasting your attention on this.

[2022-08-09 16:02] #421 closed

[2022-08-31 18:57] karasikov commented on #407
Hi Gil, the new release (https://github.com/ratschlab/metagraph/releases/tag/v0.3.6) contains a bunch of reliability improvements, including this thing. So it should now automatically detect the maximum allowed number of open files and should work fine regardless of the limits set in the system. Please let me know if you notice the same issues again.
This new version will be available on Bioconda

[2022-08-31 18:57] #407 closed

[2022-08-31 19:07] karasikov commented on #418
The slowdown should be fixed now. Please update MetaGraph to 0.3.6 (https://github.com/ratschlab/metagraph/releases/tag/v0.3.6)